<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>天气普拉斯</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1
//  HeFengInstructionView.m
//  OpenWeatherPlus
//
//  Created by he on 2019/3/29.
//  Copyright © 2019 HeFengTianQi. All rights reserved.
//

#import "HeFengInstructionView.h"
#import "HeFengBaseView.h"

@interface HeFengInstructionView()
@property (nonatomic,strong) UIImageView *imageView;
@property (nonatomic,strong) HeFengBaseLabel *rightLabel;
@property (nonatomic,strong) HeFengBaseLabel *titleLabel;
@property (nonatomic,strong) HeFengBaseView *bottomeView;
@end

@implementation HeFengInstructionView
-(instancetype)initWithFrame:(CGRect)frame{
    self = [super initWithFrame:frame];
    if (self) {
        [self configUI];
//        self.backgroundColor = HeFengColor_F5F5F5;
    }
    return self;
}
-(void)reloadViewWithModel:(HeFengHomeTabelViewDataModel *)model{
    self.imageView.image = UIImageMake(@"hefeng_logo");
   
}
-(void)configUI{
//    self.imageView = [UIImageView new];
//    [self addSubview: self.imageView];
//
//    self.titleLabel = [HeFengBaseLabel new];
//    self.titleLabel.hefengFontSize = HeFengFontSize_12;
//    self.titleLabel.textColor = HeFengColor_212121;
//    self.titleLabel.hefengLocalString = @"hengfengLocalString_29";
//    [self addSubview:self.titleLabel];
    
    self.rightLabel = [HeFengBaseLabel new];
    self.rightLabel.hefengFontSize = HeFengFontSize_10;
    self.rightLabel.textColor = HeFengColor_7A7A7A;
    self.rightLabel.hefengLocalString = @"hengfengLocalString_30";
    UITapGestureRecognizer *tapGesture = [[UITapGestureRecognizer alloc] initWithTarget:self action:@selector(clickLabel)];
    [self.rightLabel addGestureRecognizer:tapGesture];
    self.rightLabel.userInteractionEnabled = YES;
    [self addSubview:self.rightLabel];
    
    self.bottomeView = [HeFengBaseView new];
    self.backgroundColor = HeFengColor_F7F8FA;
    [self addSubview:self.bottomeView];
}
-(void)clickLabel{
    HeFengPostNotification(KNotificationOpenSafari, nil);
}
-(void)layoutSubviews{
    [super layoutSubviews];
//    [self.imageView mas_makeConstraints:^(MASConstraintMaker *make) {
//        make.left.equalTo(Space_16);
//        make.top.equalTo(8);
//        make.height.width.equalTo(32);
//    }];
//    
//    [self.titleLabel mas_makeConstraints:^(MASConstraintMaker *make) {
//        make.left.equalTo(self.imageView.mas_right).offset(Space_16);
//        make.centerY.equalTo(self.imageView);
//    }];
//    
    [self.rightLabel mas_makeConstraints:^(MASConstraintMaker *make) {
        make.right.equalTo(-Space_16);
        make.top.equalTo(8);
        make.height.equalTo(32);
    }];
    
    [self.bottomeView mas_makeConstraints:^(MASConstraintMaker *make) {
        make.top.equalTo(self.rightLabel.mas_bottom).offset(8);
        make.left.bottom.right.equalTo(0);
        if (IS_NOTCHED_SCREEN) {
            make.height.equalTo(20);
        }else{
            make.height.equalTo(0);
        }
    }];
}
@end
</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>我们会根据您当前的位置显示天气状况，方便您的出行和制定计划，同时还可以为您提供精确到每一公里的天气变化。</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>我们会根据您当前的位置显示天气状况，方便您的出行和制定计划，同时还可以为您提供精确到每一公里的天气变化。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们会根据您当前的位置显示天气状况，方便您的出行和制定计划，同时还可以为您提供精确到每一公里的天气变化。</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
